{%
assign links = site.data.link
%}
<div class="home-canvas x la dspln dsplf-lg fxdc w100v h100v posi-fix x-coord1 zi1 x-fitcover sk bgb">
    <script src="{{ links.home_canvas }}"></script>
    <div id="canvas">
    </div>
    <p class="x la mgl2 gr fs6 ff-bressay"><span class="x sk txw60 x-noselect">· Sketch of Today!</span><br><span class="x sk txw50 la mgl2" style="font-size: 13px;">These subjects are usually chosen via inspiration, their prototypes are implemented by AI.</span></p>
</div>